@import './fonts/fonts.scss';
@import './constants/null.scss';
@import './constants/base.scss';
@import './libs/swiper.scss';
@import './components/modal.scss';


header, footer{
    width: 100%;
    height: 80px;
    background-color: #CCD1D9;;
    font-size: 30px;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
}